<%- contentFor('header') %>

<%- contentFor('pageContent') %>
<div class="container-fluid">
  <div id="homepage">
    <div id="banniere-container">
      <img src='img/banniere.jpg' alt='banniere' id="banniere" style="width:100%">
      <div style="position:relative">
        <img src="img/gold.png" style="width: 100%; height: 95px">
        <span style="position: absolute; top:20%; color: white; font-size: 38px; width:100%; font-family: boldbrush" class="text-center">Devenez membre!</span>
      </div>
    </div>
    <div id="pack-container">
      <div class="row vertical-align">
        <div class="col-12 col-lg-6">
          <img src='img/pack.png' class="img-fluid" alt='pack' style="max-height: 800px; width: auto; margin-left: auto; margin-right: auto; display: block">
        </div>
        <div class="col-12 col-lg-6 text-near-pack">
          <p>
            <h2 class="h2">INSCRIS TOI ET REJOINS DES MILLIERS DE PARIEURS GAGNANTS !</h2><br><br>
            <span>Déverrouille le pack pour découvrir notre méthode de jeu et accéder à nos conseils tennis !</span><br><br>

            Plus de 60 tournois pronostiqués tout au long de l’année !<br><br>

            - 4 grands Chelem<br>
            - 9 Masters 1000<br>
            - 42 tournois ATP 250 et 500<br>
            - la finale du Masters<br>
            - La coupe Davis<br>
            - Le circuit WTA<br>
            <p>
            </div>
          </div>
        </div>
      </div>
    </div>
