<%- contentFor('header') %>

<style>
  #container-packs{
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .img-pack:hover {
    width: 120%;
  }

  .container-img-pack{
    padding: 5%;
  }

  .container-img-pack:hover{
    padding: 3%;
  }


</style>


<%- contentFor('pageContent') %>
<img src='img/banniere.jpg' alt='banniere' id="banniere" style="width:100%">
<img src="img/gold.png" id='gold-bar'>
<div class="container-fluid">
  <div class="row" id="container-packs">
    <% for(var i = 0; i < packs.length; i++){ %>
      <div class="col-12 col-md-4 container-img-pack">
        <a href='/pack/<%= packs[i].name %>'><img class="img-fluid img-pack" src="/img/packs/<%= packs[i].name %>.png"></a>
      </div>
      <% } %>
    </div>
  </div>
