<%- contentFor('header') %>

<%- contentFor('pageContent') %>
<div class="container-fluid">
  <div id="homepage">
    <div id="banniere-container">
      <img src='img/banniere.jpg' alt='banniere' id="banniere" style="width:100%">
      <div class="gold-transition">
        CONSEIL EN PARIS SPORTIFS                /                PRETS A MONTER UNE BANKROLL?
      </div>
    </div>
    <div id="pack-container">
      <div class="row vertical-align">
        <div class="col col-xs-12">
          <img class="img-fluid" src='img/pack.png' alt='pack'>
        </div>
        <div class=" col col-xs-12 text-near-pack">
          <p>
            <h2 class="h2">INSCRIS TOI ET REJOINS DES MILLIERS DE PARIEURS GAGNANTS !</h2>
            <span>Déverrouille le pack pour découvrir notre méthode de jeu et accéder à nos conseils tennis !</span><br>

            Plus de 60 tournois pronostiqués tout au long de l’année !<br>

            - 4 grands Chelem<br>
            - 9 Masters 1000<br>
            - 42 tournois ATP 250 et 500<br>
            - la finale du Masters<br>
            - La coupe Davis<br>
            - Le circuit WTA<br>
            <p>
            </div>
          </div>
        </div>
      </div>
    </div>
