<%- contentFor('header') %>

<%- contentFor('pageContent') %>
<div class="col-md-4 offset-md-4 page-content-connexion">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
        <p style="color:white; margin-bottom: 80px">Inscris toi vite pour profiter des meilleurs pronostics !
        </p>
      </div>

      <!-- Register Form -->
      <form action="/inscription" method="post">
        <input type="text" id="pseudo" class="fadeIn second" name="pseudo" placeholder="pseudo">
        <label style="color: white; font-size: 12px">Attention à renseigner un email valide, il sera utilisé en cas d'oubli de mot de passe</label>
        <input type="text" id="mail" class="fadeIn third" name="email" placeholder="email">
        <input type="text" id="password-confirm" class="fadeIn fourth" name="passwordconfirm" placeholder="mot de passe">
        <input type="text" id="password" class="fadeIn fourth" name="password" placeholder="confirmer mot de passe"><br/>
        <input type="checkbox" id="cgu" name="cgu">
        <label for="cgu" style="color: white; font-size: 12px">J'accepte les <a href="/cgu">CGU et les CGV</a></label><br/>
        <input type="hidden" value="<% if(!isNullOrUndefined(redirectTo)){ %><%= redirectTo %><% } %>" name="redirectTo">
        <input type="submit" class="fadeIn fifth" value="S'inscrire">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Pas encore de compte ? Inscrivez-vous ici</a><br>
        <a class="underlineHover" href="#">Mot de passe oublié</a>
      </div>

    </div>
  </div>
</div>
