<%- contentFor('header') %>

<%- contentFor('pageContent') %>
<div class="container" id='page-content'>
  <div class="col-12 col-md-6 offset-md-3">
    <a href='/inscription'><img class="img-fluid img-pack" src="/img/packs/<%= pack.name %>.png"></a>
  </div>
</div>
