<%- contentFor('header') %>

<%- contentFor('pageContent') %>
<div class="col-md-4 offset-md-4 page-content-connexion">
  <div class="wrapper fadeInDown">
    <img class="img-fluid" src="/img/packs/<%= pack.name %>.png">

    <form action="/inscription" method="GET">
      <input type="submit" id="submit-suscribe" class="fadeIn fourth" value="SOUSCRIRE A CE PACK">
    </form>
