
body{
  background-color: black !important;
  font-family: "Titillium Web" !important;
  color: white !important;
  /* boldbrush celle de pack privé; bebas neue pour le prix; quantify pour youenn */
  height: 100%;
  scroll-behavior: smooth;
  position: relative;
}

h2 {
  font-family: "boldbrush"
}

@font-face {
  font-family: boldbrush;
  src: url(../fonts/blowbrush.otf);
}

a:hover{
  cursor: pointer !important;
  color: #E8E8E8;
}
.fa {
  /* color: white !important; */
}


footer{
  /* background: url('../img/background.jpg'); */
  background-color: white;
  color: black !important;
}

.warning-risky-play {
  background-color: black;
  color: white;
}

footer .logo-container img{
  margin-top: -18px;
  /* margin-left: 460px; */
  width: 260px;
}


footer .social span {
  width: 100%;
  font-size: 20px;
  font-style: italic;
}

footer .social a{
  margin: 20px 30px 10px 30px;
  font-size: 40px;
}

footer a {
  color: black;
}

footer .risky-play{
  margin-top: 5px;
  margin-bottom: 5px;
}

footer #snap_code{
  border-radius: 17%
}

.gold-transition {
  /* height: 80px; */
  background: -webkit-linear-gradient(to right, #8D7127, #F5D765);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8D7127, #F5D765);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --theme-color: linear-gradient(to right, #8D7127, #F5D765);
  color: white;
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

#homepage #pack-container{
  background: url('../img/background.jpg');
  background-size: cover;
  min-height: 850px;
  padding-top: 20px;
}

#homepage #pack-container img{
  max-height: 720px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-near-pack {
  color:white !important;
  font-size: 28px;
  text-align: center;
  padding: 60px;
}

.text-near-pack span{
  margin: 20px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.page-content-connexion{
  padding: 12% 0px 12% 0px;
}


a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  /* background-color: #f6f6f6; */
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

#formFooter a{
  color: #DCDCDC;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  /* border-bottom: 2px solid #5fbae9; */
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset], .btn-classic  {
  background-color: #F2CB0C;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4); */
  /* box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4); */
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .btn-classic:hover  {
  background-color: #505050;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, .btn-classic:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 90%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  /* border-bottom: 2px solid #5fbae9; */
}

input[type=text]:placeholder, input[type=password]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fadeIn.fifth {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.fadeIn.sixth {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fadeIn.seventh {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width:60%;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

#goldBar{
  margin-top: -19px;
  width: 100%;
  height: 8px;
}

#img-pack-1:hover{
  max-height: 700px !important;
}


#page-content{
  margin-top: 4%;
  margin-bottom: 4%;
}

.gold-bordered {
  border: 1px solid #C6951B;
}

#gold-bar{
  height: 9px;
  width: 100%;
  margin-top: -20px;
}


/* For Tabs */

@media only screen and (min-width: 480px) and (max-width: 960px) {

}

/* Common For Tabs and Laptops */

@media only screen and (min-width: 480px) {

}

/* For Mobiles */

@media only screen and (max-width: 480px) {

  .title-part{
    font-size: 30px !important;
  }

  footer{
    font-size: 12px;
  }

  footer .social {
    padding-top: 0px;
  }
  .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-near-pack {
    padding: 20px;
  }

  #page-content{
    margin-top: 16%;
    margin-bottom: 8%;
  }

}



/*  STRIPE  */


#payment-form{
  width: 100%;
  text-align: center;
  color: white !important;
}

#card-element{
  width: 100%;
  color: white !important;
}


/* NAVBAR */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 1em;
}

ul li {
  line-height: 2em;
  list-style: square;
}

nav .btn{
  background-color: black;
  color: white;
}

nav .btn:hover{
  text-decoration: underline;
  color: white;
}

nav .dropdown-menu{
  background-color: black;
  line-height: 60px;
}

nav .dropdown-item:hover{
  background-color: black;
  color: white;
  text-decoration: underline;
}

#div-menu-social{
  float: right;
  margin-right: 15px;
}

#div-menu-social a{
  max-height: 30px;
  max-width: 30px;
}
